@import './common/var';
@import './mixins/function.scss';
@import './mixins/mixins.scss';
.ra--button{
    padding: 8px 15px;
    display: inline-block;
    background-color: $--checkbox-button-checked-font-color;
    border: 1px solid $--color-text-placeholder;
    outline: none;
    color: $--color-text-regular;
    border-radius: $--border-radius-base;
    cursor: pointer;
    &:hover{
        background-color: $--color-primary-light-9;
        color: $--color-primary-light-1;
        border-color: $--color-primary-light-6;
    }
    @each $type in (primary, success, info, warning, danger) {
        &--#{$type}{
            @include colorType($type, 'background');
            color: $--color-white;
            @include colorType($type, 'border');
            &:hover{
                @include liteColor($type, 'background', 10%);
                color: $--color-white;

            }
        }
    }
}
.is--disabled-{
  cursor: not-allowed;
  color: $--color-white;
  background-color: $--checkbox-button-checked-font-color;
  border: 1px solid $--color-text-placeholder;
  @each $type in (primary, success, info, warning, danger) {
    &#{$type}{
      cursor: not-allowed;
      @include liteColor($type, 'background', 10%);
      @include colorType($type, 'border');
      &:hover{
        @include liteColor($type, 'background', 10%);
        @include colorType($type, 'border');
        cursor: not-allowed;
      }
    }
  }
}
