@charset "UTF-8";
$Brand: '#409EFF';
$success: '#67C23A';
$waring: '#E6A23C';
$danger: '#F56C6C';
$info: '#909399';
$base_black: '#000';
$base_white: '#fff';
$trans: 'transparent';
$main_text: '#303133';
$con_text: '#606266';
$sec_text: '#909399';
$pla_text: '#C0C4CC';
$one_border: '#DCDFE6';
$two_border: '#E4E7ED';
$three_border: '#EBEEF5';
$four_border: '#F2F6FC';
